<footer id="fh5co-footer" role="contentinfo">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-4 fh5co-widget">
                <h3>Shop.</h3>
                <p>Simple Django e-commerce project.</p>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
                <ul class="fh5co-footer-links">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'product_list' %}">Shop</a></li>
                </ul>
            </div>
        </div>

        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">&copy; Green Shop. All Rights Reserved.</small>
                </p>
            </div>
        </div>
    </div>
</footer>