<nav class="fh5co-nav" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-2">
                <div id="fh5co-logo">
                    <a href="{% url 'home' %}">Shop.</a>
                </div>
            </div>

            <div class="col-md-6 col-xs-6 text-center menu-1">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'product_list' %}">Shop</a></li>
                    <li><a href="{% url 'dashboard_home' %}">Quản trị</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
                <ul>
                    <li class="shopping-cart">
                        <a href="{% url 'cart_detail' %}" class="cart">
                            <span>
                                <small>{{ cart_item_count }}</small>
                                <i class="icon-shopping-cart"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>